.App {
  text-align: center;
  color: white;
  font-size: 1.25rem;
}

.info-card {
  background-color: white;
  color: black;
  width: 25rem;
  min-height: 27rem;
  max-width: 90%;
  border-radius: 1rem;
  margin: auto;
  padding: 2rem;
}

button {
  font-size: 1.5rem;
  min-height: 3rem;
  width: 25rem;
  margin-top: 1rem;
  border-radius: 0;

  background-color: white;
  cursor: pointer;
}

button.start, button.restart, button.next {
  font-size: 2rem;
  border-radius: 2rem;
}

button:hover:not(:disabled) {
  filter: brightness(92%);
}

button:disabled {
  cursor: auto;
}

.score, .start {
  margin-top: 0;
  padding-top: 0;
}
